# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger: none
pr: none
schedules:
- cron: "0 20 * * *"
  displayName: "4AM (UTC +8) daily release"
  branches:
    include:
    - master

variables:
  VAR_REPO_URL: $(Build.Repository.Uri)
  VAR_REPO_BRANCHNAME: $(Build.SourceBranchName)
  VAR_BUILD_NUMBER: $(Build.BuildNumber)
  VAR_BUILD_VERSION: $(Build.SourceVersion)
  VAR_BUILD_RESION: $(Build.Reason)
  VAR_ARIFACT_NAME: "drop"
  VAR_BUILD_ARTIFACT_STAGING_DIRECTORY: $(Build.ArtifactStagingDirectory)

stages:
- stage: Build
  jobs:
    - job: BuildSourceCode
      pool:
        vmImage: 'ubuntu-latest'
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.17.0'
        displayName: 'Install Node.js'
      - script: |
          echo -e "\e[32m[$(date -u)] LOG: Ensure latest npm is installed"
          npm install -g npm

          echo -e "\e[32m[$(date -u)] LOG: Make sure the vesions are all synchronized and pull in dependencies"
          npx @microsoft/rush sync-versions
          npx @microsoft/rush update 

          echo -e "\e[32m[$(date -u)] LOG: Compile the code"
          npx @microsoft/rush rebuild 

          echo -e "\e[32m[$(date -u)] LOG: Build the package"
          npx @microsoft/rush publish --publish --pack --release-folder $(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY) --include-all --tag latest
        displayName: 'Build and Pack'
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY)'
          ArtifactName: '$(VAR_ARIFACT_NAME)'
          publishLocation: 'Container'

- stage: Test
  dependsOn: Build
  condition: succeeded()
  jobs:
    - job: E2E
      pool:
        vmImage: 'ubuntu-latest'
      steps:
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: '$(VAR_ARIFACT_NAME)'
          downloadPath: '$(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY)'
      - task: NodeTool@0
        inputs:
          versionSpec: '10.17.0'
        displayName: 'Install Node.js'
      - task: UsePythonVersion@0
        displayName: 'Use Python 3.6'
        inputs:
          versionSpec: 3.7
      - script: |
          echo -e "\e[32m[$(date -u)] LOG: Clone azure-rest-api-specs"
          git clone --single-branch -b master https://github.com/amecodegenbot/azure-rest-api-specs.git ../azure-rest-api-specs
          echo -e "\e[32m[$(date -u)] LOG: Clone azure-cli"
          git clone --single-branch -b dev https://github.com/Azure/azure-cli.git ../azure-cli
          echo -e "\e[32m[$(date -u)] LOG: Clone azure-cli-extensions"
          git clone --single-branch -b master https://github.com/Azure/azure-cli-extensions.git ../azure-cli-extensions
          echo -e "\e[32m[$(date -u)] LOG: Clone autorest.testserver"
          git clone --single-branch -b master https://github.com/Azure/autorest.testserver.git ../autorest.testserver
        displayName: 'Clone Branch'
      - script: |
          echo -e "\e[32m[$(date -u)] LOG: Install and upgrade Pip"
          pip install -U pip
          echo -e "\e[32m[$(date -u)] LOG: Install virtual environment"
          pip install --user virtualenv
          echo -e "\e[32m[$(date -u)] LOG: Create virtual environment"
          python -m virtualenv /opt/venv
          echo -e "\e[32m[$(date -u)] LOG: Active venv"
          . /opt/venv/bin/activate
          echo -e "\e[32m[$(date -u)] LOG: Install pytest"
          pip install pytest
          echo -e "\e[32m[$(date -u)] LOG: Install azdev"
          pip install azdev
          echo -e "\e[32m[$(date -u)] LOG: Install autorest"
          npm install -g autorest
          echo -e "\e[32m[$(date -u)] LOG: Azdev setup"
          cd ../azure-cli
          azdev setup -c . -r ../azure-cli-extensions
          echo -e "\e[32m[$(date -u)] LOG: test server setup"
          cd ../autorest.testserver
          npm install
        displayName: 'Prepare env'
      - script: |
          CURRENT_VERSION=$(node -p "require('./package.json').version")
          echo -e "\e[32m[$(date -u)] LOG: CURRENT AZ VERSION: $CURRENT_VERSION"
          echo -e "\e[32m[$(date -u)] LOG: Active venv"
          . /opt/venv/bin/activate
          echo -e "\e[32m[$(date -u)] LOG: Start test server"
          cd ../autorest.testserver
          npm start &
          echo -e "\e[32m[$(date -u)] LOG: Az login"
          az login --service-principal -u $(USER_SERVICE_PRINCIPAL_ID) -p $(USER_SERVICE_PRINCIPAL_SECRET) --tenant $(USER_SERVICE_PRINCIPAL_TENANT)
          echo -e "\e[32m[$(date -u)] LOG: Start test script"
          pytest -s ../s/.scripts/e2e/testcases.py --all --az ../s --azpack $(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY)/$(VAR_ARIFACT_NAME)/autorest-az-$CURRENT_VERSION.tgz --swagger ../azure-rest-api-specs --cliext ../azure-cli-extensions --testserver ../autorest.testserver --junitxml=../s/.scripts/e2e/test-results.xml
        displayName: 'Pytest'
      - task: PublishTestResults@2
        condition: always()
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '../s/.scripts/e2e/test-results.xml'

- stage: PrivateRelease
  dependsOn: Test
  condition: and (or(succeeded(), ne(variables['USER_SKIP_TEST'], 'true')), ne(variables['USER_SKIP_PRIVATE_RELEASE'], 'true'))
  jobs:
    - job: Github
      pool:
        vmImage: 'ubuntu-latest'
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.17.0'
        displayName: 'Install Node.js'
      - script: |
          LAST_TAG_COMMIT_HASH=$(git rev-list --tags --max-count=1)
          echo -e "\e[32m[$(date -u)] LOG: LAST_TAG_COMMIT_HASH: $LAST_TAG_COMMIT_HASH"

          LAST_TAG=$(git describe --tags $LAST_TAG_COMMIT_HASH)
          echo -e "\e[32m[$(date -u)] LOG: LAST_TAG: $LAST_TAG"
          echo -e "\e[32m[$(date -u)] LOG: VAR_BUILD_VERSION: $VAR_BUILD_VERSION"
          echo -e "\e[32m[$(date -u)] LOG: VAR_BUILD_RESION: $VAR_BUILD_RESION"
          if [ "$LAST_TAG_COMMIT_HASH" = "$VAR_BUILD_VERSION" ]; then echo "Cancel pipeline as no new commit"; exit 1; fi
        name: Validation
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: '$(VAR_ARIFACT_NAME)'
          downloadPath: '$(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY)'
      - script: |
          CURRENT_VERSION=$(node -p "require('./package.json').version")
          echo -e "\e[32m[$(date -u)] LOG: CURRENT VERSION: $CURRENT_VERSION"
          RELEASE_VERSION="$CURRENT_VERSION-b.$VAR_BUILD_NUMBER"
          echo -e "\e[32m[$(date -u)] LOG: RELEASE VERSION: $RELEASE_VERSION"
          RELEAST_NOTE="Adding \"--use=$(Build.Repository.Uri)/releases/download/$RELEASE_VERSION/autorest-az-$CURRENT_VERSION.tgz\" argument when triggering  \"autorest\" or \"gen\" command to generate code"
          echo -e "\e[32m[$(date -u)] LOG: RELEASE NOTE: $RELEAST_NOTE"
          echo "##vso[task.setvariable variable=release;isOutput=true]$RELEASE_VERSION"
          echo "##vso[task.setvariable variable=note;isOutput=true]$RELEAST_NOTE"
        name: GetVersions
      - task: GitHubRelease@1
        inputs:
          gitHubConnection: 'amecodegenbot'
          repositoryName: '$(Build.Repository.Name)'
          action: 'create'
          target: '$(Build.SourceVersion)'
          tagSource: 'userSpecifiedTag'
          tag: '$(GetVersions.release)'
          title: 'autorest.az $(GetVersions.release)'
          releaseNotesSource: 'inline'
          releaseNotesInline: '$(GetVersions.note)'
          assets: |
            $(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY)/$(VAR_ARIFACT_NAME)/*.tgz
          isPreRelease: true
          changeLogCompareToRelease: 'lastNonDraftRelease'
          changeLogType: 'commitBased'

- stage: PublicRelease
  dependsOn: Test
  condition: or(succeeded(), eq(variables['USER_SKIP_TEST'], 'true'))
  jobs:
    - deployment: approve
      environment: az-npm-release
      pool:
        vmImage: 'ubuntu-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - script: echo "Just Approve"
              displayName: VirtualApprove
    - job: npmjs
      dependsOn: approve
      condition: and(succeeded(), ne(variables['USER_SKIP_PUBLIC_RELEASE'], 'true'))
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.17.0'
        displayName: 'Install Node.js'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: '$(VAR_ARIFACT_NAME)'
          downloadPath: '$(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY)'
      - script: |
          echo -e "\e[32m[$(date -u)] LOG: Ensure latest npm is installed"
          npm install -g npm 

          echo -e "\e[32m[$(date -u)] LOG: Make sure the vesions are all synchronized and pull in dependencies"
          npx @microsoft/rush sync-versions
          npx @microsoft/rush update 

          echo -e "\e[32m[$(date -u)] LOG: publish the package"
          echo "//registry.npmjs.org/:_authToken=$(azure-sdk-npm-token)" >> ./.npmrc 
          for file in $(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY)/$(VAR_ARIFACT_NAME)/*.tgz
          do
            echo -e "\e[32m[$(date -u)] LOG: File: $file"
            common/temp/pnpm-local/node_modules/.bin/pnpm publish $file --tag latest --access public || echo no-worries 
          done
          rm ./.npmrc
        displayName: Publish
    - job: github
      dependsOn: approve
      condition: and(succeeded(), ne(variables['USER_SKIP_PUBLIC_RELEASE'], 'true'))
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.17.0'
        displayName: 'Install Node.js'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: '$(VAR_ARIFACT_NAME)'
          downloadPath: '$(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY)'
      - script: |
          CURRENT_VERSION=$(node -p "require('./package.json').version")
          echo -e "\e[32m[$(date -u)] LOG: CURRENT VERSION: $CURRENT_VERSION"
          echo "##vso[task.setvariable variable=release;isOutput=true]$CURRENT_VERSION"
        name: GetVersions
      - task: GitHubRelease@1
        inputs:
          gitHubConnection: 'amecodegenbot'
          repositoryName: '$(Build.Repository.Name)'
          action: 'create'
          target: '$(Build.SourceVersion)'
          tagSource: 'userSpecifiedTag'
          tag: '$(GetVersions.release)'
          title: 'autorest.az $(GetVersions.release)'
          assets: |
            $(VAR_BUILD_ARTIFACT_STAGING_DIRECTORY)/$(VAR_ARIFACT_NAME)/*.tgz
          releaseNotesFilePath: './doc/RELEASE_NOTE.md'
          addChangeLog: false

- stage: Version
  dependsOn: PublicRelease
  condition: and(succeeded(), ne(variables['USER_SKIP_VERSION_BUMP'], 'true'))
  pool:
    vmImage: 'ubuntu-latest'
  jobs:
  - job: VersionBump
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '10.17.0'
      displayName: 'Install Node.js'
    - script: |
        REPO_URL_REPLACE="$(USER_GITHUB_TOKEN)@github"
        REPO_URL_PAT=${VAR_REPO_URL/'github'/$REPO_URL_REPLACE}

        echo -e "\e[32m[$(date -u)] LOG: Config name, email and remote"
        git config --global user.name '$(USER_NAME)'
        git config --global user.email '$(USER_EMAIL)'
        git remote add originpat $REPO_URL_PAT
        git remote -v
      displayName: 'Config'
    - script: |
        echo -e "\e[32m[$(date -u)] LOG: Checkout branch $VAR_REPO_BRANCHNAME"
        git checkout $VAR_REPO_BRANCHNAME -f
        git pull

        CURRENT_VERSION=$(node -p "require('./package.json').version")
        echo -e "\e[32m[$(date -u)] LOG: CURRENT VERSION: $CURRENT_VERSION"

        USER_NEW_VERSION=$(npm version --git-tag-version=false patch)

        echo -e "\e[32m[$(date -u)] LOG: NEW VERSION: $USER_NEW_VERSION"

        echo -e "\e[32m[$(date -u)] LOG: Commit and push"
        git commit -a -m "$(USER_COMMIT_MESSAGE) $USER_NEW_VERSION"
        git push originpat $VAR_REPO_BRANCHNAME -f
      displayName: 'Version Bump'
